<!doctype html>
<html lang="en"> 
<head> 
  <meta charset="UTF-8"> 
  <title>Edit Booking</title> 
  <link rel="stylesheet" href="/css/addbooking.css"> 
</head> 

<body>
  <section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> 

    <div class="signin"> 
      <div class="content"> 
        <h2>Edit Booking</h2> 
        <div class="form"> 
          <form action="/updateBooking/<%= booking._id %>" method="POST">
            <div class="inputBox">
              <select name="tour" id="tour" required>
                <option value="" disabled selected>Select Tour</option>
                <option value="Mount Fuji" <%= booking.tour === 'Mount Fuji' ? 'selected' : '' %> >Mount Fuji</option>
                <option value="Nikko" <%= booking.tour === 'Nikko' ? 'selected' : '' %> >Nikko</option>
                <option value="Tokyo" <%= booking.tour === 'Tokyo' ? 'selected' : '' %> >Tokyo</option>
              </select>
              <i></i> <!-- Optional icon or additional styling -->
            </div>
           

            <div class="inputBox">
              <input type="text" name="name" value="<%= booking.name %>" required>
              <i>Name</i>
            </div>
            <div class="inputBox">
              <select name="vehicleType" required>
                <option value="" disabled>Select Vehicle Type</option>
                <option value="Minivan" <%= booking.vehicleType === 'Minivan' ? 'selected' : '' %>>Minivan</option>
                <option value="Hiace" <%= booking.vehicleType === 'Hiace' ? 'selected' : '' %>>Hiace</option>
                <option value="Prius" <%= booking.vehicleType === 'Prius' ? 'selected' : '' %>>Prius</option>
                <option value="Prado" <%= booking.vehicleType === 'Prado' ? 'selected' : '' %>>Prado</option>
                <option value="Luxury Car" <%= booking.vehicleType === 'Luxury Car' ? 'selected' : '' %>>Luxury Car</option>
              </select>
              <i></i>
            </div>
            <div class="inputBox">
              <input type="text" name="address" value="<%= booking.address %>" >
              <i>Address</i>
            </div>
            <div class="inputBox">
              <input type="text" name="specialRequirements" id="specialRequirements" value="<%= booking.specialRequirements %>">
              <i>Special Requirements</i>
            </div>
            <div class="inputBox">
              <input type="text" name="phoneNumber" value="<%= booking.phoneNumber %>" required>
              <i>Phone Number</i>
            </div>
            <div class="inputBox">
              <input type="number" name="totalPassengers" id="totalPassengers" value="<%= booking.totalPassengers %>" min="1" required>
              <i>Total Number of Passengers</i>
            </div>
            <div class="inputBox">
              <input type="date" name="tourDate" value="<%= booking.tourDate ? booking.tourDate.toISOString().split('T')[0] : '' %>" required>
              <i>Tour Date</i>
            </div>
            <div class="inputBox">
              <input type="text" name="driverName" value="<%= booking.driverName || '' %>">
              <i>Driver Name</i>
            </div>
            <div class="inputBox">
              <input type="text" name="earned" value="<%= booking.earned || '' %>">
              <i>Earned</i>
            </div>
            <div class="inputBox">
              <input type="text" name="driverPrice" value="<%= booking.driverPrice || '' %>">
              <i>Driver Price</i>
            </div>

            <% if (user.role === 'driver') { %>
              
              <div class="inputBox">
                <input type="text" name="driverRequirement" value="<%= booking.driverRequirement %>" >
                <i>Driver's Requirement</i>
              </div>
              
            <% } %>

            <div class="inputBox">
              <select name="tourTime" >
                <option value="" disabled>Select Tour Time</option>
                <option value="07:00" <%= booking.tourTime === '07:00' ? 'selected' : '' %>>7:00 AM</option>
                <option value="07:30" <%= booking.tourTime === '07:30' ? 'selected' : '' %>>7:30 AM</option>
                <option value="08:00" <%= booking.tourTime === '08:00' ? 'selected' : '' %>>8:00 AM</option>
                <option value="09:00" <%= booking.tourTime === '09:00' ? 'selected' : '' %>>9:00 AM</option>
              </select>
              <i></i>
            </div>
            <div class="inputBox">
              <input type="submit" value="Update Booking">
            </div>
          </form>
          <p style="color:white">
            <a href="javascript:history.back()" style="color:white" class="back-link">Go Back</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/" style="color:white" class="home-link">Go Home</a>
          </p>
        </div>
      </div> 
    </div> 
  </section>
</body>
</html>
